@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .menu-item {
    @apply mx-2 flex h-[100%] cursor-pointer items-center justify-center font-medium;
  }
  .menu-dropdown {
    @apply relative mx-2 inline-block h-[100%];
  }
  .menu-dropdown-ul {
    @apply mt-[1px] hidden min-w-[250px] bg-white py-1 text-sm text-[#777777] shadow-[0_6px_12px_rgb(0,0,0,0.3)] dark:text-gray-200;
  }
  .menu-dropdown-item {
    @apply block px-4 py-6 hover:bg-[#a9ce8e] hover:text-white;
  }
  .gnb {
    @apply fixed z-[2] flex h-28 w-[100%] flex-col border-b-2 bg-white sm:h-[4.6rem];
  }
  .login-btn {
    @apply w-20 hover:text-gray-400;
  }
  .menu-banner {
    @apply sm:pt-[74px] md:pt-[112px] lg:pt-[112px];
  }
  .regist-form {
    @apply w-full appearance-none rounded-md border px-3 py-2 placeholder-gray-400 shadow-sm focus:border-[#a9ce8e] focus:outline-none focus:ring-[#a9ce8e];
  }
}

@font-face {
  font-family: BMYEONSUNG;
  src: local('BMYEONSUNG'), url('../assets/fonts/BMYEONSUNG.woff2') format('woff2'),
    url('../assets/fonts/BMYEONSUNG.woff') format('woff'),
    url('../assets/fonts/BMYEONSUNG.ttf') format('truetype');
  font-display: block;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.banner-title {
  font-family: 'BMYEONSUNG', sans-serif;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.PrivateSwitchBase-input {
  top: 10px;
  left: 10px;
}
.MuiTableCell-root {
  padding: 5px;
}

.no-toolbar .tox-editor-header {
  display: none !important;
}

.tinymce img {
  max-width: 100%;
  height: auto;
}

.tinymce .mce-preview-object .mce-shim {
  display: none !important;
}

:root {
  --swiper-navigation-size: 22px !important;
  --swiper-theme-color: #eeeeee !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: 600;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
  padding: 20px;
  border-radius: 25px;
  border: 0px solid #000000;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  display: none !important;
}
.swiper-wrapper:hover ~ .swiper-pagination {
  display: block !important;
}

.swiper-wrapper:hover ~ .swiper-button-prev,
.swiper-wrapper:hover ~ .swiper-button-next {
  display: flex !important;
}

.swiper-slide {
  background: #fff;
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  padding: 40px 60px;
}

.swiper-slide .title {
  font-size: 41px;
  line-height: 56px;
}

@media (min-width: 360px) and (max-width: 599px) {
  .swiper-slide .title {
    font-size: 28px;
    line-height: 40px;
  }
  .swiper-slide .subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  .tox-sidebar-wrap {
    height: 500px !important;
  }
}

.tox-sidebar-wrap {
  height: 500px !important;
}

.swiper-slide .subtitle {
  font-size: 21px;
  margin-top: 22px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
  margin-top: 15px;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 8px;
  background-color: rgb(217, 217, 217);
  border: 0px;
  opacity: 1;
}

#modal .MuiDialog-paper {
  max-width: 700px;
}

.md-content p::after {
  content: '';
  display: block;
  height: 1em;
}

ul[role=navigation] {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 10px 0px;
}

ul[role=navigation] li {
  padding: 0.3rem 0.7rem;
  border-radius: 50px;
  &:hover {
    color: #fff;
    background: #a9ce8e;
    cursor:pointer;
  }
}

.selected {
  color: #fff;
  background: #a9ce8e;
  cursor:pointer;
}
