@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-menu {
    display: block;
  }

.PrivateSwitchBase-input{
  top:10px;
  left:10px;
}
.MuiTableCell-root{
  padding:5px;
}

.no-toolbar .tox-editor-header{
    display: none;
}

:root {
  --swiper-navigation-size : 22px !important;
  --swiper-theme-color: #000000 !important;
}
.swiper-button-next:after,
.swiper-button-prev:after{
  font-weight: 600;
}
.swiper-button-next,
.swiper-button-prev{
  display: none !important;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #000000;
}
  
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination{
  display: none !important;
}
.swiper-wrapper:hover ~ .swiper-pagination{
  display: block !important;
}

.swiper-wrapper:hover ~ .swiper-button-prev,
.swiper-wrapper:hover ~ .swiper-button-next{
  display: flex !important;
}

.swiper-slide {
  background: #fff;
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  padding: 40px 60px;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 700;
}

.swiper-slide .subtitle {
  font-size: 21px;
  
  margin-top: 15px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
  margin-top: 15px;
  white-space: nowrap;
}